<template>
  <section>
    <div class="flex">
      <div class="max-w-xs">
        <label for="wallet" class="block text-sm font-medium text-gray-700">Тикер</label>
        <div class="mt-1 relative rounded-md shadow-md">
          <input
            v-model="ticker"
            @keydown.enter="add(ticker)"
            type="text"
            name="wallet"
            id="wallet"
            class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
            placeholder="Например DOGE"
          />
        </div>
        <div
          v-if="ticker.length && coinsListSlice.length"
          class="flex bg-white shadow-md p-1 rounded-md shadow-md flex-wrap">
          <span
            v-for="(coin, idx) of coinsListSlice"
            :key="idx"
            @click="add(coin)"
            class="inline-flex items-center px-2 m-1 rounded-md text-xs font-medium bg-gray-300 text-gray-800 cursor-pointer">
            {{ coin }}
          </span>
        </div>
        <div
          v-if="coinsReserved"
          class="text-sm text-red-600">
          Такой тикер уже добавлен
        </div>
      </div>
    </div>
    <add-button
      class="my-4"
      @click="add(ticker)"
      :disabled="disabledButton"
    />
  </section>
</template>

<script>
import AddButton from './AddButton'
import {getAllCoins} from "@/utils/api";

export default {
  name: "AddTicker",
  components: {
    AddButton
  },
  props: {
    tickers: {
      type: Array,
      required: false,
      default: [],
    },
  },
  emits: {
    'end-spin': null,
    'add-ticker': value => typeof value === 'string' && value.length > 0,
  },
  data() {
    return {
      ticker: "",
      coinsReserved: false,
      allCoins: [],
    }
  },
  created() {
    getAllCoins(allCoins => {
      this.allCoins = allCoins;
      this.$emit('end-spin');
    })
  },
  computed: {
    filteredCoinsList() {
      return this.allCoins.filter(value => value.includes(this.ticker.toUpperCase()))
    },
    coinsListSlice() {
      return this.filteredCoinsList.length > 4 ? this.filteredCoinsList.slice(0, 4) : this.filteredCoinsList
    },
    disabledButton() {
      return 0 === this.ticker.length;
    },
  },
  methods: {
    add(coin) {
      this.coinsReserved = false;
      if (this.disabledButton) return;

      if (this.tickers.find(t => t.name.toUpperCase() === coin.toUpperCase())) {
        this.coinsReserved = true;
        return;
      }

      this.$emit('add-ticker', coin);
      this.ticker = '';
    },
  }
}
</script>
