<template>
  <div class="container mx-auto flex flex-col items-center bg-gray-100 p-4">
    <load-spin v-show="spin"/>
    <div class="container">
      <add-ticker
        :tickers="tickers"
        @end-spin="spin = false"
        @add-ticker="add"
      />
      <template v-if="tickers.length">
        <hr class="w-full border-t border-gray-600 my-4"/>
        <div>
          <button
            v-if="page > 1"
            @click="page = page - 1"
            class="my-4 mx-2 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Назад
          </button>
          <button
            v-if="hasNextPage"
            @click="page = page + 1"
            class="my-4 mx-2 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            Вперед
          </button>
        </div>
        <div>Фильтр: <input v-model="filter"/></div>
        <hr class="w-full border-t border-gray-600 my-4"/>
        <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
          <div
            v-for="(t, index) of paginatedTickers"
            @click="select(t)"
            :key="index"
            :class="[
              selectedTicker === t ? 'border-4' : '',
              undefinedCoins.includes(t.name) ? 'bg-red-100' : 'bg-white',
            ]"
            class="overflow-hidden shadow rounded-lg border-purple-800 border-solid cursor-pointer"
          >
            <div class="px-4 py-5 sm:p-6 text-center">
              <dt class="text-sm font-medium text-gray-500 truncate">{{ t.name }} - USD</dt>
              <dd class="mt-1 text-3xl font-semibold text-gray-900">{{ formatPrice(t.price) }}</dd>
            </div>
            <div class="w-full border-t border-gray-200"></div>
            <button
              @click.stop="handleDelete(t)"
              class="flex items-center justify-center font-medium w-full bg-gray-100 px-4 py-4 sm:px-6 text-md text-gray-500 hover:text-gray-600 hover:bg-gray-200 hover:opacity-20 transition-all focus:outline-none"
            >
              <svg
                class="h-5 w-5"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="#718096"
                aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd">
                </path>
              </svg>
              Удалить
            </button>
          </div>
        </dl>
        <hr class="w-full border-t border-gray-600 my-4"/>
      </template>

      <ticker-graph
        :selectedTicker="selectedTicker"
        :graph="graph"
        @close-graph="selectedTicker = null"
      />
    </div>
  </div>
</template>

<script>
import {getUndefinedCoins, subscribeToTicker, unsubscribeToTicker} from '@/utils/api';
import {getLocalStorage, setLocalStorage} from "@/utils/localStorage";
import AddTicker from '@/components/AddTicker';
import LoadSpin from "@/components/LoadSpin";
import TickerGraph from "@/components/TickerGraph";

export default {
  name: 'App',
  components: {
    AddTicker,
    LoadSpin,
    TickerGraph
  },
  data() {
    return {
      filter: '',
      tickers: [],
      selectedTicker: null,

      graph: [],
      spin: true,

      page: 1,
    };
  },
  computed: {
    undefinedCoins() {
      return getUndefinedCoins();
    },
    startIndex() {
      return (this.page - 1) * 6;
    },
    endIndex() {
      return this.page * 6;
    },
    filteredTickers() {
      return this.tickers.filter(ticker => ticker.name.includes(this.filter.toUpperCase()));
    },
    paginatedTickers() {
      return this.filteredTickers.slice(this.startIndex, this.endIndex);
    },
    hasNextPage() {
      return this.filteredTickers.length > this.endIndex
    },
    pageStateOptions() {
      return {
        filter: this.filter,
        page: this.page,
      }
    },
  },
  created() {
    const windowData = Object.fromEntries(new URL(window.location).searchParams.entries())

    const VALID_KEYS = ['filter', 'page'];

    VALID_KEYS.forEach(key => {
      if (windowData[key]) {
        this[key] = windowData[key];
      }
    });

    const tickersData = getLocalStorage();
    if (tickersData) {
      this.tickers = JSON.parse(tickersData);
      this.tickers.forEach(ticker => {
        subscribeToTicker(ticker.name, newPrice => this.updateTickers(ticker.name, newPrice))
      })
    }
  },
  methods: {
    updateTickers(tickerName, newPrice) {
      this.tickers.filter(t => t.name === tickerName).forEach(t => {
        if (t === this.selectedTicker) {
          this.graph.push(newPrice);
          if (this.graph.length > this.maxGraphElements) {
            this.graph = this.graph.slice(this.graph.length - this.maxGraphElements, this.graph.length);
          }
        }
        t.price = newPrice;
      })
    },
    formatPrice(price) {
      if (price === '-') return price;
      return price > 1 ? price.toFixed(2) : price.toPrecision(2);
    },
    add(coin) {

      const currentTicker = {
        name: coin.toUpperCase(),
        price: '-',
      };

      this.tickers = [...this.tickers, currentTicker];
      subscribeToTicker(currentTicker.name, newPrice => this.updateTickers(currentTicker.name, newPrice))
      this.filter = '';
    },
    handleDelete(tick) {
      this.tickers = this.tickers.filter(t => t.name !== tick.name);
      this.selectedTicker = this.selectedTicker?.name === tick.name ? null : this.selectedTicker;
      unsubscribeToTicker(tick.name)
    },
    select(t) {
      this.selectedTicker = t;
    }
  },
  watch: {
    ticker() {
      this.coinsReserved = false;
      if (this.ticker.length) {
      }
    },
    tickers() {
      setLocalStorage(this.tickers);
    },
    selectedTicker() {
      this.graph = [];
      this.$nextTick().then(this.calculateMaxGraphElement)
    },
    paginatedTickers() {
      if (this.paginatedTickers.length === 0 && this.page > 1) {
        --this.page;
      } else if (this.tickers.length > (6 * this.page)) {
        ++this.page;
      }
    },
    filter() {
      this.page = 1
    },
    pageStateOption(v) {
      window.history.pushState(
        null,
        document.title,
        `${window.location.pathname}?filter=${v.filter}&page=${v.page}`
      )
    },
  },
}
</script>
